<div *ngIf="isGameActive">
    <h2>Current Score: {{ currentScore }}</h2>
    <audio [src]="currentSongPreviewUrl" controls autoplay></audio>
    <input type="text" [(ngModel)]="userGuess" placeholder="Guess the song title">
    <button (click)="verifyAnswer()">Guess</button>
    <button (click)="endGame()">End Game</button>
  </div>
  
  <div *ngIf="!isGameActive">
    <input type="text" [(ngModel)]="artistName" placeholder="Enter artist name">
    <button (click)="startGame(artistName)">Start Game</button>
  </div>
  