<div *ngIf="getGameState() === 'initial'">
    <div class="input">
        <label>Please Enter an Artist Name: </label>
        <input #artistName type="text"/>
    </div>
    <div class="submit">
        <button (click)="generateSong(artistName.value)">Generate Song</button>
    </div>
</div>
<div *ngIf="getGameState() === 'guessing'">
    <h1>Currently Playing: {{getArtistName()}}</h1>
    <h2>Press play and guess the following song: </h2>
    <audio controls src="{{getSongURL()}}"></audio>
</div>
<div *ngIf="getGameState() === 'guessing'">
    <div class="input">
        <label>What song is this? </label>
        <input #songName type="text" />
    </div>
    <div class="submit">
        <button (click)="submitGuess(songName.value)">Submit Guess</button>
    </div>
</div>
<div *ngIf="getGameState() === 'guessed'">
    <h1>Guessed</h1>
</div>
<div *ngIf="getGameState() === 'end'">
    <h1>Game Over</h1>
    <h2>Your score was {{getScore()}}</h2>
    <div class="input">
        <button (click)="backToMenu()">Back To Menu</button>
    </div>
</div>
