<div>
    <h2>Welcome, {{getUsername()}}!</h2>
</div>
<div>
    <h3>How to Play the Spotify Game:</h3>
    <ol>
        <li>Type in an artist whose songs you would like to guess.</li>
        <li>Listen to the provided song preview for that artist.</li>
        <li>Enter your song guess into the input box below the song preview. Remember to use exact spelling.</li>
        <li>Click 'Submit Guess' to see if you got the correct answer!</li>
        <li>If you did, move back to step 3 and repeat!</li>
        <li>If you did not, you will be taken to a Game Over screen where your scores for that artist are displayed.</li>
        <li>Press the button on the Game Over screen to go back to the menu.</li>
        <li>Enjoy!</li>
    </ol>
    <h4>Click the Start button to continue!</h4>
    <button (click)="startGame()">Start</button>
</div>
