<div>
    <h2>Welcome, {{getUsername()}}!</h2>
</div>
<div>
    <h3>How to Play the Spotify Game:</h3>
    <ol>
        <li>Search up your favorite artist with releases on Spotify!</li>
        <li>Click the Random button to generate a preview for a song by that artist</li>
        <li>Test your knowledge by guessing the name of the song</li>
        <li>More directions to be added...</li>
    </ol>
    <h4>Click the Start button to continue!</h4>
    <button (click)="startGame()">Start</button>
</div>
